*, ::before, ::after {
    position: relative;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    /* background: #fafafa; */
    line-height: 1;
    letter-spacing: -0.5px;
    color: #333;
}

header {
    background: white;
    /* border-bottom: 0.075em solid #ccc; */
}

button, input {
    display: inline-block;
    font: inherit;
    color: inherit;
    line-height: 1;
    padding: unset;
    background: unset;
    border: unset;
    outline: unset;
    -webkit-appearance: unset;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

strong {
    font-size: 1.1em;
}

a {
    color: #767d8c;
    text-decoration: none;
}

a.ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

b {
    font-weight: 600;
}

.hidden, [hidden] {
    display: none !important;
}

.marked {
    color: #ffc500;
}

/* Colours */

.darkgray {
    color: #3e4147;
}

.gray {
    color: #686c75;
}

.white {
    color: white;
}

/* ScrollBar */

.cool-overflow::-webkit-scrollbar {
    width: 0.25em;
}

.cool-overflow::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10em;
}

.cool-overflow::-webkit-scrollbar-thumb {
    background: #aab2b9;
    border-radius: 10em;
}

/* Icons */

[class *="icon"] {
    display: inline-block;
    background: no-repeat center/contain;
    width: 1em;
    height: 1em;
}

.icon__chevron-right {
    background-image: url("../img/icons/chevron-right.png");
    margin-left: 0.75em;
}

.icon__timer {
    background-image: url("../img/icons/clock.png");
    margin-right: 0.5em;
}

/* Topbar */

.topbar {
    display: flex;
    align-items: center;
    padding: 2em;
    width: 1320px;
    margin: 0 auto;
}

.topbar__logo {
    display: flex;
    flex: 1;
}

.topbar__logo--image {
    width: 10em;
}

.topbar-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
    background: #f5f5f5;
    border-radius: 0.25em;
}

.topbar-search__input {
    color: #767d8c;
}

.topbar-search__icon {
    background-image: url("../img/icons/search.png");
    margin-right: 0.5em;
}

.topbar-menu {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.topbar-menu__link {
    margin-left: 1em;
    font-weight: 400;
    transition: 0.125s linear color;
}

.topbar-menu__link:hover {
    color: #333;
}

.topbar-menu__link--bordered {
    padding: 0.5em;
    border: 0.05em solid #767d8c;
    border-radius: 0.25em;
    transition: 0.2s linear color, 0.2s linear background-color, 0.2s linear border-color;
}

.topbar-menu__link--bordered:hover {
    background: #393939;
    border-color: transparent;
    color: white;
    text-shadow: unset;
}

/* Preview */

.preview {
    padding: 5em 0;
    box-shadow: 0 50px 50px -50px #ededed;
}

.preview--remove-shadow {
    box-shadow: unset;
}

.preview__image {
    width: 35em;
    height: 20em;
    object-fit: contain;
}

.preview__picture {
    width: 50em;
    height: 30em;
}

.preview__inner {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 1100px;
    margin: 0 auto;
}

.preview__inner--grid {
    display: grid;
    justify-items: center;
}

.preview__desk {
    display: inline-grid;
    margin-left: 5em;
}

.preview__title {
    margin: 0;
    margin-bottom: 0.35em;
}

.preview__title--image {
    display: block;
    width: 14em;
}

.preview__description {
    width: 16em;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.1;
}

.preview__buttons {
    display: flex;
    margin-top: 1.5em;
}

.preview__button {
    padding: 0.75em 1em;
    margin-right: 1em;
    background: #ccc;
    border-radius: 5em;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: .125s linear background-color;
}

.preview__button:hover {
    background: #bbb;
}

.preview__button:last-child {
    padding: 0.75em 1.5em;
    margin: 0;
}

.preview__button--oragne {
    background: #ed8b4a;
}

.preview__button--oragne:hover {
    background: #ca743a;
}

/* Main */

main {
    width: 1100px;
    margin: 2em auto;
}

/* Page Part */

.page-part {
    display: grid;
    margin-bottom: 5em;
}

.page-part__breadcrumb {
    margin-bottom: 5em;
    font-size: 0.85em;
    color: #9c9c9c;
}

.page-part__breadcrumb>a:hover {
    color: #333;
    text-decoration: underline;
}

.page-part__title {
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 2em;
}

/* Lead */

.lead {
    display: flex;
    justify-content: space-between;
}

.lead-info {
    display: grid;
    grid-gap: 2em;
    align-content: flex-start;
    width: 35em;
}

.lead-info__image {
    background: whitesmoke;
    width: inherit;
    height: 20em;
    object-fit: contain;
}

.lead-info__description {
    display: inline-block;
    word-break: break-word;
    font-weight: 500;
    color: #4c4c4c;
    line-height: 1.25;
}

.lead-details {
    display: grid;
    grid-gap: 0.5em;
    padding-top: 2em;
    border-top: 0.075em solid #aab2b9;
}

.lead-details__row {
    font-size: 0.85em;
}

.lead-details__row--0 {
    font-weight: 600;
}

.lead-details__row:first-child {
    margin-bottom: 1.5em;
}

.lead-details__row:last-child {
    margin-top: 1.5em;
}

.lead-ment {
    display: grid;
    align-content: flex-start;
    width: 25em;
}

.lead-ment__title {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 0.025em solid #aab2b9;
    text-align: center;
}

.lead-ment__finaces {
    display: grid;
    width: 18em;
    margin: 0 auto;
}

.lead-ment__timeout {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 1.5em;
}

.lead-ment__timeout--icon {}

.lead-ment__timeout--text {
    font-size: 1.25em;
    font-weight: 700;
    color: #e0a22e;
}

.lead-ment__info {
    margin-bottom: 0.5em;
}

.lead-ment__info--0 {
    font-size: 1.25em;
    font-weight: 700;
    color: #9e9e9e;
    margin-right: 0.25em;
}

.lead-ment__info--1 {
    font-size: 1.25em;
    font-weight: 700;
    color: #4cae0a;
}

.lead-ment__info--2 {
    font-size: 1.25em;
    font-weight: 700;
}

.lead-make-bet {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    margin-top: 2em;
}

.lead-make-bet__sum {
    padding: 0.75em 1.5em;
    background: #efefef;
    border: 0.05em solid #ccc;
    border-radius: 2.25em;
    font-weight: 500;
}

.lead-make-bet__add-sum {
    display: flex;
}

.lead-make-bet__add-sum--button {
    padding-bottom: 0.25em;
    border-bottom: 0.05em solid;
    font-weight: 600;
    cursor: pointer;
    transition: .125s linear border-color;
}

.lead-make-bet__add-sum--button:first-child {
    margin-right: 1em;
}

.lead-make-bet__add-sum--button:hover {
    border-color: transparent;
}

.lead-make-bet__button {
    padding: 0.75em 1.5em;
    background: #4cae0a;
    border: 0.05em solid #a1c588;
    border-radius: 2.25em;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 0.125s linear background-color;
}

.lead-make-bet__button:hover {
    background: #48a00a;
}

.lead-history {
    margin-top: 2em;
}

.lead-history__title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}

.lead-history__inner {
    max-height: 8em;
    overflow: auto;
}

.lead-history__bet {
    display: flex;
    align-items: center;
    padding: 0.5em 0.75em;
}

.lead-history__bet:nth-child(even) {
    background: #f5f5f5;
}

.lead-history__info {
    display: flex;
    align-items: center;
}

.lead-history__info--image {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: rebeccapurple;
    border-radius: 100%;
    margin-right: 0.5em;
}

.lead-history__info--username {
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 0.25em;
}

.lead-history__action {
    font-size: 0.9em;
    font-weight: 400;
}

.lead-history__time {
    flex: 1;
    direction: rtl;
    font-size: 0.75em;
}

/* Profile */

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info__avatar {
    padding: 0.25em;
    width: 8em;
    height: 8em;
    border: 0.125em solid #767d8c;
    border-radius: 100%;
}

.profile-info__details {
    margin-left: 1.5em;
    flex: 1;
}

.profile-info__nickname {
    display: flex;
    align-items: center;
}

.profile-info__nickname--nickname {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: lowercase;
}

.profile-info__text {
    margin-top: 0.5em;
    font-size: 0.85em;
}

.profile-info__achievements {
    display: grid;
    grid-gap: 0.5em;
    margin-top: 1em;
}

.profile-info__achievements:only-child {
    margin: unset;
}

.profile-info__achievements>span {
    font-size: 0.85em;
    font-weight: 500;
    text-align: right;
}

.profile-level {
    display: grid;
    min-width: 20em;
}

.profile-level__lvl {
    margin-bottom: 0.25em;
    font-weight: 500;
    text-align: right;
}

.profile-level-progress-bar {
    width: 100%;
    height: 1em;
    background: #d7deec;
    border-radius: 10em;
}

.profile-level-progress-bar__filled {
    position: absolute;
    width: 75%;
    height: 100%;
    background: #47beca;
    background: #51c36a;
    background: #767d8c;
    border-radius: inherit;
}

.profile-bages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.75em;
    column-gap: 0.75em;
}

.profile-bages__bage {
    padding: 0.65em 2em;
    border-radius: 10em;
    font-size: 0.85em;
    font-weight: 600;
    color: white;
    text-align: center;
}

.profile-bages__bage:last-child {
    margin: 0;
}

.profile-bages__bage--blue {
    background: #43638c;
}

.profile-bages__bage--green {
    background: #4dc756;
}

.profile-bages__bage--pink {
    background: #d668be;
}

.profile-personal-page {
    display: grid;
    align-content: flex-start;
    background: white;
    border-radius: 0.5em;
    flex: 1;
}

.profile-personal-page__header {
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 6px 10px -6px #ccc;
    background: whitesmoke;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.profile-personal-page__body {
    height: 250px;
    background: #ccc;
    border-radius: 0 0 0.5em 0.5em;
}

.profile-info__nickname--icon.icon__settings {
    background-image: url("../img/icons/gear.png");
}

/* Reveal Block  */

.reveal-block {
    margin-top: 2em;
}

.reveal-block__summary {
    display: flex;
    padding: 0.25em 0;
    border-bottom: 0.075em solid;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;
}

.reveal-block__content {
    display: none;
    margin-top: 2.5em;
}

.reveal-block__summary::after {
    content: "\002B";
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    line-height: 50%;
    flex: 1;
}

.reveal-block--revealed .reveal-block__summary::after {
    content: "\2013";
}

.reveal-block--revealed {}

.reveal-block--revealed .reveal-block__content {
    display: block;
}

/* Place Ground  */

.place-ground {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(4, 1fr);
    transition: 0.125s linear color;
}

.place-ground-lead {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px 0px #eaeaea;
    overflow: hidden;
    transition: 0.125s linear box-shadow;
}

.place-ground-lead:hover {
    box-shadow: 0 0 20px 0px #d6d6d6;
}

.place-ground-lead__add-time {
    font-size: 0.85em;
    font-weight: 500;
    justify-self: flex-start;
}

.place-ground-lead__image {
    width: 10em;
    height: 5em;
    object-fit: cover;
}

.place-ground-lead__title {
    font-size: 1.35em;
    font-weight: 500;
}

.place-ground-lead__mark {
    margin-top: -0.5em;
    font-weight: 600;
    font-style: italic;
}

.place-ground-lead__state {
    padding: 0.5em 1.25em;
    background: #67b76c;
    border-radius: 10em;
    font-weight: 600;
    color: white;
}

.place-ground-lead__timer {
    display: flex;
    align-items: center;
    justify-self: left;
    color: #ee7272;
    font-size: 0.9em;
    font-weight: bold;
}

.place-ground-lead-info {
    display: grid;
    row-gap: 0.25em;
    margin-bottom: 1em;
    font-size: 0.75em;
}

.place-ground-lead__info {
    display: flex;
}

.place-ground-lead__info--0 {
    margin-right: 0.5em;
    font-weight: 600;
}

.place-ground-lead__info--1 {
    font-weight: 500;
}

.place-ground-lead__info--green {
    font-weight: 600;
    color: #209a18;
}

.place-ground-lead-author {
    position: absolute;
    right: 0.75em;
    bottom: 0.75em;
    display: flex;
    align-items: center;
}

.place-ground-lead-author__avatar {
    width: 0.9em;
    height: 0.9em;
    object-fit: cover;
    border-radius: 100%;
}

.place-ground-lead-author__name {
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 0.25em;
}

.place-ground-lead[data-new="true"]::after {
    content: 'NEW';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 2.7em;
    background: #ee7272;
    transform: rotate(45deg) translate(2em, -1em);
    color: white;
    font-size: 0.75em;
    font-weight: 600;
}

.place-ground-go-next {
    display: flex;
    align-items: center;
    margin: 2em auto;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

/* Auth */

.auth {
    font-size: 1.25em;
}

.auth__article {
    display: grid;
    justify-items: center;
}

.auth__image {
    width: 20em;
}

.auth__description {
    font-size: 1.25em;
    font-weight: 600;
    color: #9e9e9e;
    max-width: 20em;
    text-align: center;
}

.auth__container {
    display: flex;
    justify-content: space-around;
}

.auth-login {}

.auth__header {}

.auth-login__form {
    display: grid;
    row-gap: 1em;
    width: 18em;
}

.auth-login__label {
    margin-bottom: -0.5em;
}

.auth-login__input {
    padding: 0.25em 1em;
    background: #efefef;
    border-radius: 10em;
    font-size: 0.85em;
    font-weight: 500;
    color: #333;
}

.auth-login__submit {
    padding: 0.5em 2em;
    background: #777;
    border-radius: 10em;
    color: white;
    font-size: 0.85em;
    font-weight: 600;
    justify-self: center;
}

.auth-register {
    width: 23em;
    text-align: center;
}

.auth__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 0.05em);
    bottom: 0;
    width: 0.1em;
    background: #ccc;
}

.auth-register__button {
    display: inline-block;
    padding: 0.5em 2em;
    background: #777;
    border-radius: 10em;
    color: white;
    font-size: 0.85em;
    font-weight: 600;
}

.auth__sign-in {
    display: flex;
    margin: 0 auto;
}

.auth__vk {
    padding: 0.5em 1em;
    background: #628ff3;
    border-radius: 10em;
    margin-left: 0.5em;
    font-size: 0.85em;
}

.auth__vk--icon {
    background-image: url("../img/icons/vk_logo.png");
    width: 1.5em;
    height: 1.15em;
    top: 0.1em;
}

/* Filter */

.filter {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1;
}

summary {
    outline: none;
}

/* Wallet */

.topbar-wallet {
    display: flex;
    align-items: center;
    margin-left: 1em;
    cursor: pointer;
    color: #767d8c;
}

.topbar-wallet__icon {
    background-image: url("../img/icons/wallet.png");
    margin-right: 0.5em;
}

.topbar-wallet__text {}

.topbar-wallet__dropdown-menu {
    position: absolute;
    top: 7em;
    left: calc(-50% - 2.5em);
    display: none;
    padding: 1em;
    background: white;
    box-shadow: 0 0 20px -7px;
    border-radius: 1.5em;
    white-space: nowrap;
    z-index: 1;
}

.topbar-wallet__balance {
    display: flex;
    align-items: center;
    margin: 0 auto 0.5em;
}

.topbar-wallet__balance>span {
    margin-right: 0.5em;
}

.topbar-wallet__buttons {
    display: grid;
    row-gap: 0.75em;
    justify-content: center;
    margin-top: 1em;
}

.topbar-wallet__button {
    padding: 0.5em 1.5em;
    background: #ccc;
    border-radius: 10em;
    font-size: 0.85em;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.topbar-wallet__button--red {
    background: #c75e4d;
}

.topbar-wallet__button--green {
    background: #4dc756;
}

.topbar-wallet__dropdown-menu::before {
    content: '';
    position: absolute;
    top: -4em;
    left: calc(50% - 2em);
    border: 1.5em solid transparent;
    border-bottom: 2.5em solid #ccc;
}

/* Footer */

footer {
    padding: 3em 0;
    box-shadow: 0 -50px 50px -50px #ededed;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.footer__logo {
    width: 12em;
}

.footer__title {
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.footer__info {
    font-size: 1.25em;
    color: #ababab;
}